p {padding-top: 15px;}

a {font-size: 16px;
  color: #C12258;
  text-decoration: wavy underline;}

*:focus {
  border: 6px dashed #417243; 
  outline: none; }

  h1{
    text-align: center;
    line-height: 2;
    font-family: "Syncopate", sans-serif;
  }

  body {
background-image: url("images/pigeon-background.jpg");
  margin: 0;
   background-size: cover;
fallback: #DDDDDD;
}

td {
text-align: center;
border-bottom: solid black;
padding: 10px;
}

thead th{
  min-width: 125px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  background-color: #7e0820;
  border: 2px solid black;
}


    /* background-color: #7e0820;
    padding: 10px;
    color: white;
    text-align: center horizontal;
    width: 125px;
    text-transform: uppercase; */


tbody th{
  border: 2px solid black; 
  border-top-width:0;          
}

table {
    margin: auto;
    padding: 0;
    border-radius: 20px;
    border-spacing: 0; 
    border-right: 2px solid black;
  }

td{
  text-align: center;
}

tr:nth-child(even){
  background-color: #d1d1d1;
}


tr:hover{ 
background-color: rgba(126, 8, 32, 0.5);
}


thead th:first-child {
  border-top-left-radius: 20px;
}

thead th:last-child {
border-top-right-radius: 20px;
}

tbody tr:last-child th:first-child{
border-bottom-left-radius: 20px;
}

tbody tr:last-child td:last-child{
border-bottom-right-radius: 20px;
}



   /* <img src="/images/picture.jpg"> */
