body {
    font-family: arial, verdana;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;

}

h1 {
    text-align: center;
    font-size: 42px;
    padding: 15px;

}


h2{
    color: #0d0d0d;
    font-size: 30px;

}

p{
    font-size: 24px;
    padding: 10px 0px 0px 10px;

}

img {
    width: 250px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #ffffff ;
}

div {
    min-height: 200px;
    padding: 20px;
    border:  3px solid #ffffff;

}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;

}

.red{
    background-color:#ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;

}

.blue{
    background-color:#0000ff ;
    text-align: left;
    margin-right: 50px;
    border-right: 5px solid white;
    border-top: 2px solid white;
}

.blue p, .blue h2 {
    color: #c4c4c4;

}


.yellow{
    background-color: #ffed29;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid white;
    border-left: 5px solid white;

}

.yellow p {
    color: #707070

}

.green{
    background-color: #008500 ;
    text-align: left;
    margin-right: 50px;
    border-top: 2px solid white;
    border-right: 5px solid white;

}

footer{
    border: 5px solid white;

}

footer  p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
